gunicorn
uvicorn
aiohttp         
async-timeout   
attrs           
chardet            
dnspython       
idna            
multidict              
pip             
pymongo          
python-dateutil 
pytz            
setuptools      
six             
yarl     
PyAudio
typing
scikit-learn
joblib
SpeechRecognition
pandas